/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #191919;
  }

  .left h2 {
    color: #2ecc71;
  }

  .left p {
    color: #2ecc71;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: #2ecc71;
  }
  
  .right h2 {
    color: #191919;
  }

  .right p {
    color: #191919;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    margin-top: 20%;
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 300px;
    border-radius: 10%;
  }